In [ ]:
**Условия задачи**

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". 
Ваша задача проверить это утверждение, 
используя файлы с рейтингами фильмов из материалов занятия. 
Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг 
становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, 
а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    - для каждой строки пройдите по всем годам списка years
    - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [18]:
import pandas as pd
movies = pd.read_csv('movies_stats.csv')
movies.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [19]:
movies.columns = ['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres']
movies.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [40]:
# пришлось сделать криво так как в упор не видит rating, видимо я чего-то не поняла 
Total = movies.merge(movies, on=["movieId"], how='inner')
Total.head()

,userId_x,movieId,rating_x,timestamp_x,title_x,genres_x,userId_y,rating_y,timestamp_y,title_y,genres_y
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,7,3.0,851868750,Dangerous Minds (1995),Drama
2,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,31,4.0,1273541953,Dangerous Minds (1995),Drama
3,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,32,4.0,834828440,Dangerous Minds (1995),Drama
4,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,36,3.0,847057202,Dangerous Minds (1995),Drama

In [24]:
num = len(years)
j = []
for i in range(1,num+1):
    j.append(i)
print (j)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61]

In [25]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
# написала функцию которая пройдет по каждой строке и присвоит каждому фильму год выпуска, а если в списке не окажется нужного года то вернет значение 1900
    return 1900

In [27]:
Total['year'] = Total['title_x'].apply(production_year)
#Записываем новый столбец
Total.head()

,userId_x,movieId,rating_x,timestamp_x,title_x,genres_x,userId_y,rating_y,timestamp_y,title_y,genres_y,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,7,3.0,851868750,Dangerous Minds (1995),Drama,1995
2,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,31,4.0,1273541953,Dangerous Minds (1995),Drama,1995
3,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,32,4.0,834828440,Dangerous Minds (1995),Drama,1995
4,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,36,3.0,847057202,Dangerous Minds (1995),Drama,1995

In [31]:
#Считаем средний рейтинг и сортируем по убыванию

pvt = Total.pivot_table(index=['year'], values = 'rating_x', aggfunc='mean')
pvt_sorted = pvt.sort_values(by = ['rating_x'], ascending = False)
pvt_sorted.head()

      rating_x
year
1972  4.420580
1974  4.245062
1954  4.202228
1957  4.182643
1977  4.181845